NODE_ENV=development

# Informações do Bot
BOT_TOKEN= 
BOT_WEBHOOK= 
BOT_WEBHOOK_PORT=3000

# Conexão Redis
REDIS_URL= 

# Diretorio temporário de downloads
OUTPUT_DIR=output

# ID Administradores
ADMIN= 

# ID canal/grupo para se tornar VIP
JOIN_CHANNEL= 
JOIN_GROUP=

# ID canais/grupos permitidos.
CHATS_AllOWED= 

# Canal de cache, salvar as mpusicas.
CACHE_CHANNEL= 

# Limitar largura de banda
NO_VIP_MAX_BANDWIDTH=1M
MAX_BANDWIDTH=5M

# file ou unix
LOG_TYPE=unix